/* CSS declarations go here */

.wrapper {
    position: relative;
}

.card {
    position: absolute;
    margin: 0;

}

.glyphicon {
    font-size: 3em;
    z-index: 10000;
}

h1 {
    text-align: center;
}

.top-padding {
    padding-top: 5%;
}
